/*Main CSS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&family=Prata&display=swap');

/*Login Signup Page*/
a:focus,a:hover,a{
    outline:none;
    text-decoration: none;
}
li,ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.header-top i {
    font-size: 18px;
}
.bg-image {
    background: url(../images/background-login.jpg) no-repeat 0 0 / cover;
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
}

.login-header {
    display: inline-block;
    width: 100%;
    background: #0e1a35;
}

.login-signup {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.login-logo img {
    cursor: pointer;
    max-width: 171px;
    padding: 23px 15px 22px;
    width: 100%;
}

.login-header .navbar-right {
    margin-right: 0px;
}

.login-header .nav-tabs > li.active > a,
.login-header .nav-tabs > li.active > a:focus,
.login-header .nav-tabs > li.active > a:hover {
    background-color: transparent;
    border: none;
    color: rgb(206, 63, 63);
}

.login-header .nav-tabs > li > a {
    border: medium none;
    border-radius: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
    padding: 15px 30px;
    color: #fff;
}

.login-header .nav-tabs {
    border-bottom: none;
}

.login-header .nav-tabs > li {
    margin-bottom: 0px;
}

.login-header .nav > li > a:focus,
.login-header .nav > li > a:hover {
    background: none;
    text-decoration: none;
}

.login-header .nav-tabs > li.active {
    border-bottom: 6px solid #5584ff;
}

.login-inner h1 {
    color: #8492af;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-inner h1 span {
    color: #5584ff;
}

.login-form {
    text-align: center;
}

.login-form input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #d4d9e3;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    font-size: 13px;
    font-weight: 300;
    width: 100%;
    color: #8492af;
    padding: 15px 50px;
    font-size: 17px;
    max-width: 550px;
}

.login-form label {
    margin-bottom: 30px;
    width: 100%;
}

.user input {
    background: rgba(0, 0, 0, 0) url("../images/user.png") no-repeat scroll 7px 12px;
}

.pass input {
    background: rgba(0, 0, 0, 0) url("../images/password.png") no-repeat scroll 7px 12px;
}

.mail input {
    background: rgba(0, 0, 0, 0) url("../images/mail.png") no-repeat scroll 4px 12px;
}

.login-signup .tab-content {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: inline-block;
    margin-top: -8px;
    width: 100%;
}

.form-btn {
    background: #5584ff none repeat scroll 0 0;
    border: medium none;
    border-radius: 100px;
    color: #ffffff;
    font-weight: 400;
    max-width: 250px;
    padding: 10px 0;
    position: relative;
    width: 100%;
    margin: 40px 0;
    box-shadow: 0 2px 8px #d2d2d2;
    -moz-box-shadow: 0 2px 8px #d2d2d2;
    -webkit-box-shadow: 0 2px 8px #d2d2d2;
}

.form-btn::before {
    content: "";
    font-family: FontAwesome;
    position: absolute;
    right: 17px;
    top: 9px;
}

.form-details {
    padding: 35px 0;
}

.tab-content .tab-pane {
    padding: 70px 0;
}


/*Login Signup Page*/


/*Home Page*/

.home {
    background: #f6f7fa;
}

#navigation {
    background: #0e1a35;
}

#navigation {
    padding: 0;
}

.display-table {
    display: table;
    padding: 0;
    height: 100%;
    width: 100%;
}

.display-table-row {
    display: table-row;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    float: none;
    height: 100%;
}

.v-align {
    vertical-align: top;
}
.logo img {
    max-width: 180px;
    padding: 16px 0 17px;
    width: 100%;
}

.header-top {
    margin: 0;
    padding-top: 2px;
}

.header-top img {
    border-radius: 50%;
    max-width: 48px !important;
    width: 100%;
}

.add-project {
    background: #5584ff none repeat scroll 0 0;
    border-radius: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 27px 10px 45px;
    position: relative;
}


.add-project::before {
    background: rgba(0, 0, 0, 0) url("../images/plus.png") no-repeat scroll 0 0;
    content: "";
    ;
    height: 12px;
    left: 17px;
    position: absolute;
    top: 12px;
    width: 12px;
}



.header-top i {
    color: #0e1a35;
}

.icon-info {
    position: relative;
}
.navi i {
    font-size: 20px;
}
.label.label-primary {
    border-radius: 50%;
    font-size: 9px;
    left: 8px;
    position: absolute;
    top: -9px;
}

.icon-info .label {
    border: 2px solid #942222;
    font-weight: 500;
    padding: 3px 5px;
    text-align: center;
}

.header-top li {
    display: inline-block;
    text-align: center;
}

.header-top .dropdown-toggle {
    color: #0e1a35;
}

.header-top .dropdown-menu {
    border: medium none;
    left: -85px;
    padding: 17px;
}
.view {
    background: #5584ff none repeat scroll 0 0;
    border-radius: 100px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    padding: 10px 15px;
}

.navbar-content > span {
    font-size: 13px;
    font-weight: 700;
}

.img-responsive {
    width: 100%;
}
#navigation{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.search input {
    border: none;
    font-size: 15px;
    padding: 15px 9px;
    width: 100%;
    background: rgba(0, 0, 0, 0) url("../images/search.png") no-repeat scroll 99% 12px;
    color: #8492af;
}

header {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.04);
    display: inline-block !important;
    line-height: 23px;
    padding: 15px;
    transition: all 0.5s ease 0s;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.logo {
    text-align: center;
}

.navi a {
    border-bottom: 1px solid #0d172e;
    border-top: 1px solid #0d172e;
    color: #ffffff;
    display: block;
    font-size: 17px;
    font-weight: 500;
    padding: 28px 20px;
    text-decoration: none;
}

.navi i {
    margin-right: 15px;
    color: #5584ff;
}

.navi .active a {
    background: #122143;
    border-left: 5px solid #5584ff;
    padding-left: 15px;
}

.navi a:hover {
    background: #122143 none repeat scroll 0 0;
    border-left: 5px solid #5584ff;
    display: block;
    padding-left: 15px;
}


/* navbar toggle pati na rin kulay */
/*
.navbar-default {
    background-color: #122143;
    border-color: #ffffff;
}
*/

.navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: rgba(0, 0, 0, 0);
}



.circle-logo {
    margin: 0 auto;
    max-width: 30px !important;
    text-align: center;
}
.hidden-xs{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.user-dashboard {
    padding: 0 20px;
}

.user-dashboard h1 {
    color: #0e1a35;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding: 21px 0;
}
.sales {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 100%;
}
.sales button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #dadee7;
    border-radius: 100px;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding-right: 32px;
    color: #0e1a35;
}

.sales button::before {
    content: "";
    font-family: FontAwesome;
    position: absolute;
    right: 12px;
    top: 11px;
}
.sales  .btn-group {
    float: right;
}
.sales h2 {
    color: #8492af;
    float: left;
    font-size: 21px;
    font-weight: 600;
    margin: 0;
    padding: 9px 0 0;
}
.btn.btn-secondary.btn-lg.dropdown-toggle > span {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.sales .dropdown-menu{
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-radius: 8px;
    width: 100%;
    color: #0e1a35;
}
.sales .btn-group.open .dropdown-toggle, .btn.active, .btn:active{
    box-shadow: none;
}
.sales .dropdown-menu > a {
    color: #0e1a35;
    display: inline-block;
    font-weight: 800;
    padding: 9px 0;
    text-align: center;
    width: 100%;
}
#my-cool-chart svg {
    width: 100%;
}
.sales .dropdown-menu > a:hover{
    color: #5584FF;   
}
.shield-buttons {
    display: none;
}
.close, .close:focus, .close:hover {
    color: #fff;;
    opacity: 1;
    text-shadow: none;
}
.modal-body input {
    border: 1px solid #d4d9e3;
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0;
    padding: 14px 10px;
    width: 100%;
    color: #8492af;
}
.modal-body textarea {
    border: 1px solid #d4d9e3;
    font-size: 14px;
    font-weight: 300;
    height: 200px;
    margin-top: 5px;
    padding: 9px 10px;
    width: 100%;
    color: #8492af;
}
.modal-header.login-header h4 {
    color: #ffffff;
}
.modal-footer .add-project {
    background: #5584ff none repeat scroll 0 0;
    border: medium none;
    border-radius: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
    position: relative;
}
.modal-footer .add-project::before{display: none;}
.modal-footer {
    border: 0 none;
    padding: 10px 15px 26px;
    text-align: right;
}
.cancel {
    background: #0E1A35     ;
    border: medium none;
    border-radius: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
    position: relative;
    
}
.modal{
    top: 20%; 
}
.modal-header .close {
    margin-top: 2px;
}
.search input:focus{
    border-bottom: 1px solid #BDC4D4;
    line-height:22px;
    transition: 0.1s all;
}
.modal-header.login-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/*Main CSS*/


@media only screen and (max-device-width: 767px) {
    .login-logo img {
        margin: 0 auto;
    }
    .login-details .nav-tabs > li {
        text-align: center;
        width: 50%;
    }
    .login-signup .login-inner h1 {
        font-size: 26px;
        margin-bottom: 0;
        margin-top: 10px;
    }
    .login-inner .login-form input {
        font-size: 15px;
        max-width: 100%;
        padding: 15px 45px;
    }
    .login-inner .form-details {
        padding: 25px;
    }
    .login-inner .login-form label {
        margin-bottom: 20px;
        width: 100%;
    }
    .login-inner .form-btn {
        margin: 0;
        max-width: 180px;
    }
    .tab-content .tab-pane {
        padding: 20px 0;
    }
    #navigation .navi a {
        font-size: 14px;
        padding: 20px;
        text-align: center;
    }
    #navigation .navi i {
        margin-right: 0px;
    }
    #navigation .navi a:hover,
    #navigation .navi .active a {
        background: #122143 none repeat scroll 0 0;
        border-left: none;
        display: block;
        padding-left: 20px;
    }
    header .header-top img {
        max-width: 38px !important;
    }
    .v-align header {
        padding: 12px 15px;
    }
    header .header-top li {
        padding-left: 13px;
        padding-right: 6px;
    }
    .navbar-default .navbar-toggle {
        border-color: rgba(0, 0, 0, 0);
    }
    .navbar-header .navbar-toggle {
        float: left;
        margin: 0;
        padding: 0;
        top: 12px;
    }
    button,
        html [type="button"],
        [type="reset"],
        [type="submit"] {
            outline: medium none;
    }
    .user-dashboard .sales h2 {
        color: #8492af;
        float: left;
        font-size: 14px;
        font-weight: 600;
        margin: 0;
        padding: 13px 0 0;
}
    .user-dashboard .btn.btn-secondary.btn-lg.dropdown-toggle > span {
        font-size: 11px;
}
    .user-dashboard .sales button {
        font-size: 11px;
        padding-right: 23px;
}  
    .user-dashboard .sales h2 {
    font-size: 12px;
}
.gutter{
    padding: 0;
}
}



@media only screen and (max-device-width: 992px) {
    header .header-top li {
        padding-left: 20px !important;
        padding-right: 0;
    }
    header .logo img {
        max-width: 125px !important;
    }

}


@media only screen and (min-device-width: 767px) and (max-device-width: 998px){
    .user-dashboard .header-top {
      padding-top: 5px;
    }
  .user-dashboard .header-rightside {
      display: inline-block;
      
      width: 100%;
    }
  .user-dashboard .header-rightside .header-top img {
      max-width: 41px !important;
    } 
  .user-dashboard .sales button {
  font-size: 10px;
    }
  .user-dashboard .btn.btn-secondary.btn-lg.dropdown-toggle > span {
  font-size: 12px;
    }
  .user-dashboard .sales h2 {
  font-size: 15px;
    }
}

@media only screen and (min-device-width:998px) and (max-device-width: 1350px){
      #navigation .logo img {
  max-width: 130px;
  padding: 16px 0 17px;
  width: 100%;
    }
}



/*############################################### MY CSSSS ############################################################*/

.layout1{
    position:relative;
     height: 120px;
 }
 

.logo_address{
    position: absolute;
    top: -5%;
    left:17%;
}


/* INFO LAYOUT START */
.infolayout{
    height: 230px;
    position: relative;
    
   /*  border-bottom: solid rgb(248, 123, 21) 2px;
    border-top: solid rgb(248, 123, 21) 2px; */
}

.jobtitle{
    font-family: 'Poppins', sans-serif;
    color: #1d3958;
    font-size:150%;
    position: absolute;
    top:5%;
    left: 43%;
}

.jobClient{
    font-family: 'Poppins', sans-serif;
    color: #1d3958;
    font-size:130%;
    position: absolute;
    top:27%;
    left: 5%;
}

#clienttxtbx{
    position: absolute;
    top:25%;
    left: 12%;
    width:60%;
    font-family: 'Poppins', sans-serif;
}


.jobDate{
    font-family: 'Poppins', sans-serif;
    color: #1d3958;
    font-size:130%;
    position: absolute;
    top:27%;
    left: 75%;
}

#datetxtbx{
    position: absolute;
    top:25%;
    left: 80%;
    width:17%;
    font-family: 'Poppins', sans-serif;
}

.jobAddress{
    font-family: 'Poppins', sans-serif;
    color: #1d3958;
    font-size:130%;
    position: absolute;
    top:48%;
    left: 5%;
}

#addresstxtbx{
    position: absolute;
    top:45%;
    left: 12%;
    width:85%;
    font-family: 'Poppins', sans-serif;
}

.jobContact{
    font-family: 'Poppins', sans-serif;
    color: #1d3958;
    font-size:130%;
    position: absolute;
    top:67%;
    left: 5%;
}

#contacttxtbx{
    position: absolute;
    top:65%;
    left: 17%;
    width:80%;
    font-family: 'Poppins', sans-serif;
}

.jobContactNum{
    font-family: 'Poppins', sans-serif;
    color: #1d3958;
    font-size:130%;
    position: absolute;
    top:85%;
    left: 5%;
}

#contactnumtxtbx{
    position: absolute;
    top:83%;
    left: 18%;
    width:79%;
    font-family: 'Poppins', sans-serif;
}

/* INFO LAYOUT END */

/* CATEGORY LAYOUT START */
.categorylayout{
    height: 50px;
    position:relative;
}

.catlayout1{
    width: 100%;
    height: 100%;
    background-color: #d4d5d6;
}

#chckstatic{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 22%;
    left: 5%;
}

.stattxt{
    font-family: 'Poppins', sans-serif;
    color: #1d3958;
    font-size:110%;
    position: absolute;
    top:29%;
    left: 8%;
}

#chckdyna{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 22%;
    left: 25%;
}

.dynatxt{
    font-family: 'Poppins', sans-serif;
    color: #1d3958;
    font-size:110%;
    position: absolute;
    top:29%;
    left: 28%;
}

#chcksnap{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 22%;
    left: 55%;
}

.snaptxt{
    font-family: 'Poppins', sans-serif;
    color: #1d3958;
    font-size:110%;
    position: absolute;
    top:29%;
    left: 58%;
}

#chcksraw{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 22%;
    left: 75%;
}

.rawtxt{
    font-family: 'Poppins', sans-serif;
    color: #1d3958;
    font-size:110%;
    position: absolute;
    top:29%;
    left: 78%;
}

/* CATEGORY LAYOUT END */

/* STATIC LAYOUT START */
.staticlayout{
    position: relative;
    height: 350px;
}

.statlayout2{
    width: 100%;
    height: 95%;
   /*  background-color: #a0c0e5; */
    margin-top: 1%;
    position: relative;
    border: solid #1d3958 1px;
}

 #stattxtcat{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size:120%;
   text-align: center;
 
} 

.statdetails{
    width: 97.6%;
    height: 10%;
    background-color: #5197e6;
    position:absolute;
    top: 15%;
}

.dimentxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 14%;
    left:1%;
}

#dimentxtbx{
    position: absolute;
    top: 12%;
    left: 10%;
    width: 60%;
}

.qtytxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 14%;
    left:72%;
}

#qtytxtbx{
    position: absolute;
    top: 12%;
    left: 76%;
    width: 23%;
}

/* FRAME START */
.frmetxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 29%;
    left:1%;
}

#chckfrme{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 28%;
    left: 12%;
}

.fiftymmtxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 30%;
    left:15%;
}




#chck80sffrme{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 28%;
    left: 24%;
}

.eightymmtxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 28%;
    left:27%;
}

#chck80dffrme{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 28%;
    left: 35%;
}

.eightymmdftxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 28%;
    left:38%;
}


#chck120sffrme{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 28%;
    left: 46%;
}

.onetwozerommsftxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 28%;
    left:49%;
}

#chck120dffrme{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 27%;
    left: 57%;
}

.onetwozerommdftxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 28%;
    left:60%;
}

#chckothers{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 27%;
    left: 68%;
}

.otherstxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 28%;
    left:71%;
}

#txtbxothers{
    color:black;
    position: absolute;
    top: 27%;
    left: 77%;
    width: 15%;
}
/* FRAME END */

/* LED START */
.ledtxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 39%;
    left:1%;
}


#chckstrip{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 39%;
    left: 12%;
}

.striptxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 40%;
    left:15%;
}

#chckfish{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 39%;
    left: 24%;
   
}

.fishtxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 40%;
    left:27%;
}

#chckopt{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 39%;
    left: 46%;
}

.opttxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 40%;
    left:49%;
}


#chcklgp{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 39%;
    left: 57%;

}

.lgptxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 40%;
    left:60%;
}




/* LED END */



/* COLOR START */

.colortxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 51%;
    left:1%;
}

#chck7k{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 50%;
    left: 12%;
}

.sevenktxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 52%;
    left:15%;
}

#chck10k{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 50%;
    left: 24%;
}

.tenktxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 51%;
    left:27%;
}

#chck12k{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 50%;
    left: 35%;
}

.onetwotxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 52%;
    left:38%;
}

/* COLOR END */





/* BACK BOARD START */
.bboardtxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 63%;
    left:1%;
}

#chcksintra{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 63%;
    left: 12%;
}

.sintratxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 64%;
    left:15%;
}

#chckacp{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 63%;
    left: 24%;
}

.acptxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 64%;
    left:27%;
}

#chckothersboard{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 63%;
    left: 35%;
}

.othersboardtxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 64%;
    left:38%;
}

#txtbxothersboard{
    color: black;
    position: absolute;
    top: 63%;
    left:44%;
    width:15%;
}
/* BACK BOARD END */


/* APPLICATION START */
.apptxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 76%;
    left:1%;
}

#chckwall{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 75%;
    left: 12%;
}

.walltxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 77%;
    left:15%;
}


#chckstand{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 75%;
    left: 35%;
}

.standtxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 77%;
    left:38%;
}

#chcksuspend{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 75%;
    left: 46%;
}

.suspendtxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 77%;
    left:49%;
}


#chckhanged{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 75%;
    left: 57%;

}

.hangtxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 77%;
    left:60%;
}



/* APPLICATION END */








/* VOLTAGE START */
.voltxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 90%;
    left:1%;
}

#chck24v{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 89%;
    left: 12%;
}

.twofourvtxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 90%;
    left:15%;
}

#chck12v{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 89%;
    left: 24%;
}


.twoonevtxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 90%;
    left:27%;
}



#chck5v{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 89%;
    left: 35%;
}


.fivevtxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 90%;
    left:38%;
}
/* VOLTAGE END */



/* STATIC LAYOUT END */


/* DYNAMIC LAYOUT START */
.dynamiclayout{
    position: relative;
    height: 250px;
}

.dynamiclayout2{
    width: 100%;
    height: 95%;

    position: relative;
    border: solid #1d3958 1px;
}
 
#dynatxtcat{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size:120%;
   text-align: center;
}

.dimendynatxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 20%;
    left:1%;
}

#dimendynatxtbx{
    position: absolute;
    top: 16%;
    left: 10%;
    width: 60%;
}

.qtydynatxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 20%;
    left:72%;
}

#qtydynatxtbx{
    position: absolute;
    top: 16%;
    left: 76%;
    width: 23%;
}

.frmedynatxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 40%;
    left:1%;
}

#chckdynafrme{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 38%;
    left: 12%;
}

.fiftymmdynatxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 40%;
    left:15%;
}

#chckdyna80sffrme{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 38%;
    left: 24%;
}

.eightymmdynatxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 40%;
    left:27%;
}

#chckdyna80dffrme{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 38%;
    left: 35%;
}

.eightymmdfdynatxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 40%;
    left:38%;
}

#chckdyna120sffrme{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 38%;
    left: 46%;
}

.onetwozerommsfdynatxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 40%;
    left:49%;
}

#chckdyna120dffrme{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 38%;
    left: 57%;
}

.onetwozerommdfdynatxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 40%;
    left:60%;
}

#chckdynaothers{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 38%;
    left: 68%;
}

.othersdynatxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 40%;
    left:71%;
}


#txtbxothersdyna{
    color:black;
    position: absolute;
    top: 38%;
    left: 77%;
    width: 15%;
}

.ledtxtdyna{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 55%;
    left:1%;
}

#chckdynaboard{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 54%;
    left: 12%;
}

.boardynatxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 56%;
    left:15%;
}

#chckdynastrip{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 54%;
    left: 35%;
}

.stripdynatxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 56%;
    left:38%;
}

.pixeltxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 72%;
    left:1%;
}

#chckdynapixel{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 70%;
    left: 12%;
}

.p20dynatxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 72%;
    left:15%;
}

#chckdynap10{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 70%;
    left: 35%;
}

.p10dynatxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 72%;
    left:38%;
}

#chckdynap38{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 70%;
    left: 55%;
}

.p38dynatxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 72%;
    left:58%;
}

.voldynatxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 86%;
    left:1%;
}

#chck24vdyna{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 85%;
    left: 12%;
}

.twofourvdynatxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 86%;
    left:15%;
}

#chck12vdyna{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 85%;
    left: 35%;
}

.twoonevdynatxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 86%;
    left:38%;
}
/* DYNAMIC LAYOUT END */


/* MEDIA LAYOUT START */
.medialayout{
    position: relative;
    height: 250px;
}

.medialayout2{
    width: 100%;
    height: 95%;

    position: relative;
    border: solid #1d3958 1px;
}
 
#mediatxtcat{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size:120%;
   text-align: center;
}

#chckfabric{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 15%;
    left: 2%;
}

.fabrictxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 17%;
    left:5%;
}


#chckpearl{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 35%;
    left: 2%;
}

.pearltxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 37%;
    left:5%;
}

#chckpvctext{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 58%;
    left: 2%;
}

.pvctexttxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 60%;
    left:5%;
}

#chckpvcsofttext{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 80%;
    left: 2%;
}

.pvcsofttxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 82%;
    left:5%;
}

#chckback{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 15%;
    left: 45%;
}

.backtxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 16.5%;
    left:48%;
}

#chckbackflex{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 35%;
    left: 45%;
}

.backbflextxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 37%;
    left:48%;
}
/* MEDiA LAYOUT END */

/* BACKING LAYOUT START */
.backinglayout{
    position: relative;
    height: 250px;
}

.backinglayout2{
    width: 100%;
    height: 95%;

    position: relative;
    border: solid #1d3958 1px;
}

#chcksintraback{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 15%;
    left: 2%;
}

.sintrabacktxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 17%;
    left:5%;
}

#chckacpback{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 35%;
    left: 2%;
}

.acpbacktxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 37%;
    left:5%;
}

#chckplywood{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 58%;
    left: 2%;
}

.plywoodtxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 60%;
    left:5%;
}

#chckgishoot{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 15%;
    left: 45%;
}

.gishoottxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 16.5%;
    left:48%;
}

#chckacrylicback{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 35%;
    left: 45%;
}

.backacrylictxt{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 37%;
    left:48%;
}
/* BACKING LAYOUT END */

/* RAW MATERIALS LAYOUT START */
.rawmatlayout{
    position: relative;
    height: 200px;
}

.rawmatlayout2{
    width: 100%;
    height: 95%;

    position: relative;
    border: solid #1d3958 1px;
}
/* RAW MATERIALS LAYOUT END */

/* DETAILS LAYOUT START */
.detailslayout{
    position: relative;
    height: 150px;
}

.comdate{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 20%;
    left:5%;
}

#datedetails{
    position: absolute;
    top: 15%;
    left:17%;
    width: 15%;
}

.appby{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 60%;
    left:32%;
}

#appbytxtbx{
    position: absolute;
    top: 54%;
    left:41%;
    width: 15%;
}

.salesp{
    font-family: 'Poppins', sans-serif;
    font-size:110%;
    color: #1d3958;
    position: absolute;
    top: 19%;
    left:60%;
}

#salesptxtbx{
    position: absolute;
    top: 16%;
    left:70%;
    width: 15%;
}
/* DETAILS LAYOUT END */
